# <center>MACHINE LEARNING ASSIGMENT </center>
##### <center>STUDENT NAME : ARUL RAYMONDS GEORGE JOSEPH</center>
##### <center>STUDENT ID: C00278718</center>

## Table of Contents:
1. [Introduction](#first-bullet)
2. [Businiess Understanding](#second-bullet)
3. [Data Understanding](#third-bullet)
4. [Data Preparation](#fourth-bullet)
5. [Modelling](#fifth-bullet)
6. [Evaluation](#sixth-bullet)
7. [Deployments](#seventh-bullet)
8. [Discussion](#eighth-bullet)
9. [Results](#nineth-bullet)
10. [References](#tenth-bullet)

## 1. Introduction <a class="anchor" id="first-bullet"></a>

code blocks...

## 2. Business Understanding <a class="anchor" id="second-bullet"></a>

code blocks...

## 3. Data understanding <a class="anchor" id="third-bullet"></a>

code blocks...

## 4. Data Preparation <a class="anchor" id="fourth-bullet"></a>

code blocks...`

## 5. Modelling <a class="anchor" id="fifth-bullet"></a>

code blocks...

In [1]:

import tensorflow as tf
import pandas as pd
import numpy as np
import itertools

print("GPU is", "available" if tf.config.list_physical_devices('GPU') else "NOT AVAILABLE")

GPU is available

In [2]:
datapath = "data/0dab1200-c004-11ec-8a45-f167084fd93d/"
purse_seines = "purse_seines.csv"
unknown = "unknown.csv"
trollers = "trollers.csv"
trawlers = "trawlers.csv"
pole_and_line = "pole_and_line.csv"
fixed_gear = "fixed_gear.csv"
drifting_longlines = "drifting_longlines.csv"

df = pd.read_csv(datapath+trawlers)
df.head()

,mmsi,timestamp,distance_from_shore,distance_from_port,speed,course,lat,lon,is_fishing,source
0,1.252340e+12,1.325376e+09,0.0,0.0,0.0,153.0,52.458649,4.581200,-1.0,gfw
1,1.252340e+12,1.325378e+09,0.0,0.0,0.0,153.0,52.458668,4.581167,-1.0,gfw
2,1.252340e+12,1.325379e+09,0.0,0.0,0.0,153.0,52.458633,4.581183,-1.0,gfw
3,1.252340e+12,1.325380e+09,0.0,0.0,0.0,153.0,52.458649,4.581234,-1.0,gfw
4,1.252340e+12,1.325381e+09,0.0,0.0,0.0,153.0,52.458649,4.581183,-1.0,gfw

In [5]:
df["is_fishing"].unique()

array([-1.        ,  0.        ,  1.        ,  0.6666667 ,  0.33333334,
        0.75      ,  0.25      ])

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4369101 entries, 0 to 4369100
Data columns (total 10 columns):
 #   Column               Dtype
---  ------               -----
 0   mmsi                 float64
 1   timestamp            float64
 2   distance_from_shore  float64
 3   distance_from_port   float64
 4   speed                float64
 5   course               float64
 6   lat                  float64
 7   lon                  float64
 8   is_fishing           float64
 9   source               object
dtypes: float64(9), object(1)
memory usage: 333.3+ MB

In [7]:
df.describe().apply(lambda s: s.apply('{0:.5f}'.format))

,mmsi,timestamp,distance_from_shore,distance_from_port,speed,course,lat,lon,is_fishing
count,4369101.00000,4369101.00000,4369101.00000,4369101.00000,4369023.00000,4369023.00000,4369101.00000,4369101.00000,4369101.00000
mean,157895239544453.53125,1426219858.15639,78198.02489,149664.80424,2.97240,174.40434,32.66757,4.92777,-0.94491
std,94947789560500.62500,38764722.50157,204074.69896,327953.23712,4.10508,115.47010,38.37240,81.27552,0.28445
min,1252339803566.00000,1325376038.00000,0.00000,0.00000,0.00000,0.00000,-84.98024,-179.99963,-1.00000
25%,77261928739173.00000,1397205111.00000,0.00000,2236.01318,0.00000,64.80000,36.23107,-8.28853,-1.00000
50%,175387414441613.00000,1434811196.00000,4242.53662,36054.62500,1.50000,187.00000,52.09994,4.58442,-1.00000
75%,240226012373593.00000,1458922432.00000,55783.93359,96080.93750,4.50000,276.00000,54.63578,14.32063,-1.00000
max,277515277585463.00000,1480031962.00000,3257453.25000,12452204.00000,102.30000,511.00000,84.61642,179.99338,1.00000

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = [6, 2]

for column in df.columns:
    plt.figure()             # <==================== here!
    sns.displot(df[column])

In [ ]:
df.size

In [ ]:
import plotly.express as px



fig = px.scatter_geo(df[df.is_fishing==0][:100000000:100],lat='lat',lon='lon', hover_name="is_fishing")
fig.update_layout(title = 'World map', title_x=0.5)
fig.show()

## 6. Evaluation <a class="anchor" id="sixth-bullet"></a>

code blocks...

## 7. Deployments <a class="anchor" id="seventh-bullet"></a>

code blocks...

## 8. Discussion <a class="anchor" id="eighth-bullet"></a>

code blocks...

## 9. Result <a class="anchor" id="nineth-bullet"></a>

code blocks...

## 9. References <a class="anchor" id="tenth-bullet"></a>

code blocks...